


body {

  /* box-sizing: border-box; */
  background-color:#DBD1A7;
  background-image: url("../images/paper.jpg");
  background-blend-mode: soft-light;
  background-size: contain;
  background-repeat: repeat;
  font-family: "Rock Salt", sans-serif;
}

h1, h2 {
  text-align: center;
}

p {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.header {
  width: 75%;
  margin: 0 auto;
}

.logo{
  max-width: 150px;
  margin: 10%;
  /* padding: 10%; */
  /* min-width: 100px; */
}

nav {
  padding: 0 5%
}

.down-icon {
  font-size: 1.75rem;
}


.nav-pills .nav-link {
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

.nav-link:hover{
  background: black;
  color: white;
}

.nav-pills .nav-link.active {
  background-color: black;
}

.navbar-toggler{
  width: 100%;
}


.spotify {

  max-width: 33%;
  min-width: 350px;
}

.about{
  margin: 0 auto;
  padding: 3%;
  /* width: 80%; */
  /* min-width: 300px; */
}

.about p {
  padding: 10px 0;
}

.heading {
  line-height: 1.5;
  margin: 0 0 3% 0;
}

.name {
  font-family: "Rock Salt", cursive;
}

.band-pic{
  text-align: center;
  margin: 7% auto;
}

.img-thumbnail{
  border-color: black;
  border: 10px;
  border-style: solid;
}
